* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
p{
  color: grey;
}

/* Header starts here */
nav img {
  max-width: 120px;
  height: 50px;
}

.navbar {
  border-bottom: 1px solid rgb(205, 197, 197);
}

.navbar-nav .nav-link a {
  color: black;
  width: 100px;
}

.btn {
  font-weight: bold;
  background-color: rgb(8, 112, 112);
  width: 80px;
  padding: 8px;
  margin-left: 2px;
}

#navbarNav .nav-item a:hover {
  background-color: rgb(0, 0, 0);
  opacity: 0.78;
  width: 100%;
  text-align: center;
}

.navbar-nav .nav-link:hover {
  color: white;
}

#imgs {
  width: 60%;
}


/* =======For LOGIN and CREATE ACCOUNT button====== */
.modal-content .modal-header
{
    border-bottom: none;
}


.signin_modal .nav-tabs .nav-link
{
    background-color: rgba(120, 121, 122, 0.884);
    border-radius: 0;
    font-weight: 600;
    border-color: #fff;
}
.signin_modal .nav-tabs .nav-item
{
    width: 50%;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 15px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    width: 100%;
    color: orangered;
}
.signin_modal .nav-tabs .nav-link.active
{
    color: orangered;
}
.signin_modal .nav-tabs
{
    border-bottom: none;
}

/* =======FOR CREATING FORM======= */

.modal-dialog
{
    box-shadow: 2px 2px 8px 8px rgba(45, 45, 65, 0.877);
    border: none;
}
#home-tab-pane,#profile-tab-pane
{
    margin-left: 30px;
    margin-right: 30px;
}

.form-label
{
    font-size: small;
    font-weight: bold;
    color: darkgray;
}

.form-control
{
    height: 30px;
    position: relative;
}
.myeye
{
    position: absolute;
    font-size: large;
    margin-top: -25px;
    margin-left:370px;
    cursor: pointer;
    
}
.star
{
    color: red;
    font-weight: bolder;
}

/* ====SIGNIN AND FORGOT PASSWORD BUTTON======= */


#home-tab-pane .btn-primary,#profile-tab-pane .btn-primary
{
    width: 100%;
    background-color: rgb(236, 86, 31);
    border-color: #fff;
    font-weight: bolder;
}
#home-tab-pane .btn-secondary
{
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    color: grey;
    font-weight: bolder;
    border-color: orangered;
}
/* ========HORIZONTAL LINE========= */
.line
{
    margin-top: 80px;
}
.or
{
    text-align: center;
    font-weight: bolder;
    color: rgb(36, 33, 33);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header ends here */


/* Section starts here */
.container {
  padding-top: 80px;
}

.container .row{
  margin-left: 6rem;
}

.left {
  padding-top: 70px;
  /* padding-left: 150px; */
}
/* Section ends here */


/* Caurosel starts here */
.s2 h1{
  text-align: center;
  margin-top: 70px;
  padding: 20px;
}
.flexbox{
  display: flex;
  flex-direction: row;
  padding: 20px;
  text-align: center;
}
.column{
  margin: 16px;
  width: 100%;
  font-size: 20px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  border-radius: 40px;
}
.column a{
  text-decoration: none;
  color: black;
}

.carousel-item img{
  width: 60px;
  height: 50px;
}
.column span{
  display: block;
}
.btn-left{
margin-left: -120px;
}
.btn-right{
  margin-right: -120px;
}
.btn-icon,
.btn-icon,.btns{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  background-color: rgb(20, 6, 83);
  color: white;
  font-weight: 800;
  font-size: 10px;
  transition: 0.6s ease;
  border-radius: 30px;
  user-select: none;
}
/* Carousel ends here */

/* Section3 starts here */
.gridsystem .row .two .img-fluid{
  width: 500px;
}
.gridsystem .row {
  padding-left: 1rem;
  padding-right: 8rem;
}
.gridsystem .row .one{
  padding-top: 6rem;
  text-align: left;
}
/* Section3 ends here */

/* Section4 starts here */
.details{
  margin: 70px;
  display: flex;
  /* flex-wrap: wrap; */
}
.details-item{
  width: 20%;
  padding: 1rem;
}
.details-item .icon{
  margin-left: 4rem;
}
.details-item p{
  padding-top: 1rem;
}
.details span{
  color:grey;
  font-size: 60px;
  margin: 80px;
}
.s4{
  margin: 3rem;
  text-align: center;
}
/* Section4 ends here */


/* Section5 starts here */
.maps{
  display: flex;
}
.map-content{
  width: 50%;
  margin-left: 12%;
}
input{
  padding: 0.6rem;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
}
input::placeholder{
  color: grey;
  padding-left: 2em;
}
.location{
  position: relative;
  z-index: 1;
  top: 0.1em;
  left: 1.5em;
  font-size: 1.4em;
}
input:focus{
  padding-left: 3em;
}
.btn2{
  margin-left: -1em;
  margin-top: -0.3em;
  padding-left: 1.9em;
  border-radius: 10px;
  width: 100px;
  height: 2.9rem;
}
.glass{
  position: relative;
  z-index: 1;
  top: 0;
  left: 1rem;
  font-size: 1em;
}
#map{
  display: flex;
  width: 50%;
  height: 250px;
  border-radius: 42rem 100rem 0 0;
  margin-right: 5% ;
  padding: 2rem;
  margin-top: -2rem;
}
/* Section5 ends here */

/* Section 6 starts here */
.card{
  background-image: url(../images/user1.webp);
  background-size: cover;
  background-repeat: none;
}
.p-2 .card-text{
  background-color: black;
  opacity: 0.6;
  position: relative;
  bottom: -16rem;
  color: white;
  height: 5.5rem;
  padding: 0.4rem;
}
.reviews{
  margin-left: 9rem;
}
.d-flex.flex-row{
  display: flex;
  flex-wrap: wrap;
}
.btns{
  margin-left: -10rem;
}
/* Section6 ends here */

/* App starts */
.p-2 ul{
 list-style-type: none;
 display: flex;
}
.p-2 ul a img{
  width: 8rem;
}
.apple{
  position: relative;
  top: 0;
  left: 0.6rem;
}

.apps{
  margin-top: 5rem;
  width: 15rem;
  margin-left: 12rem;
}
.phone{
  margin-right: 4rem;
}
/* Questionary section */
.collapse-container {
  display: flex;
  flex-direction: column;
}
.colscon{
  margin-left: 20rem;
  margin-top: -6rem;
}
.collapsed{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  padding: 0.8rem;
  margin-top: 0.9rem;
  width: 60%;
  color: gray;
}
/* footer */
.footer{
  margin-top: 4rem;
  display: flex;
  background-color: rgb(17, 129, 108);
  height: 24rem;
  /* max-width: 1200px; */
  padding: 2rem;
  width: 100%;
  flex-wrap: wrap;
}
.footer-content img{
  margin-top: -1rem;
}
.footer-content .p1{
  width: 10rem;
}
.footer-content{
  margin-left: 6rem;
}
.footer-content p{
  color: white;
  width: 7rem;
  margin-top: 0.2rem;
  font-size: 10px;
}
.footer-content h6{
  color: white;
  font-weight: 800;
}
.footer-content ul{
  list-style-type: none;
}
.footer-content a{
  text-decoration: none;
  color: white;
  margin-left: -2rem;
  font-size: 12px;
}





/* Media Queries */
/* Phone */
@media (max-width: 767px) {
  /* Header */
  #navbarNav .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #imgs img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }

  /* Section */
  .container {
    padding-top: 5px;
  }
  .container .row {
    margin-left: 0;
  }
  .left {
    padding: 40px;
  }
  .right {
    padding-left: 50px;
  }

  /* Caurosel */
  .s2 h1{
    margin-top: 50px;
  }
  .column {
    width: 100%;
    font-size: 16px;
  }
  .btn-icon,
  .btn-icon {
    font-size: 8px;
  }
  .flexbox{
    padding: 0;
    flex-wrap: wrap;
  }

  /* Section3 */
  .gridsystem{
    margin-top: -15px;
  }
  .gridsystem .row{
    text-align: center;
  }
  .img-fluid{
    width: 500px;
    padding: 10px ;
  }
  .gridsystem{
    margin-left: 4rem;
    max-width: 1100px;
  }
/* Section4 */
.s4{
  margin-top: 2em;
  margin-bottom: 3em;
  font-size: 3em;
}
.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details-item{
  width: 100%;
  margin-bottom: 4rem;
}
.details-item p{
text-align: center;
font-size: 2rem;
}
.details-item .icon{
margin-left: 6rem;
font-size: 4rem;
padding-bottom: 2rem;
}
.details span{
  display: none;
}
/* Section5 */
#map{
  margin-left: 7rem;
  margin-top: 3rem;
}
.location,.glass{
  display: none;
}
.btn{
  margin-top: 1rem;
}
.map-content{
  margin-left: 6rem;
  text-align: center;
  font-size: 1.6rem;
}
.maps{
  display: flex;
  flex-direction: column;
}
.maps{
  margin-top: -3rem;
}
input{
  width: 100%;
  padding-left: 1rem;
}
input::placeholder{
  font-size: 1.3rem;
  padding: 0;
}
.btn2{
  padding: 0;
}

/* Section6 */
.reviews{
  margin-left: 6rem;
  margin-top: -6rem;
}
.btns{
 display: none;
}
/* Apps */
.apps{
  display: flex;
  flex-direction:column;
  margin-left: 5rem;
}


.download{
  padding-left: 2rem;
  text-align: center;
  width: fit-content;
}
.screen{
  width:19rem;
  padding-left: 4rem;
}
/* Question*/
.colscon{
  margin-left: 5rem;
}
.collapsed span{
display: none;
}
/* footer */
.footer{
  height: 55rem;
  padding-left: 0;
}
.footer-content .last{
  display: none;
}
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Header */
  nav img {
    max-width: 150px;
    height: 60px;
  }

  .navbar-nav .nav-link a {
    width: auto;
  }

  .btn {
    width: 100px;
  }

  /* Section */
  .container {
    padding-top: 100px;
  }

  .container .row {
    margin-left: 5rem;
  }

  .left {
    padding-top: 100px;
  }

  #imgs {
    width: 80%;
  }

  /* Caurosel */
  .s2 h1{
    margin-top: 0;
  }
  .column {
    width: 50%;
    font-size: 18px;
  }
  .btn-icon,
  .btn-icon {
    font-size: 10px;
  }

  /* Section3 */
  .gridsystem{
    margin-left: 0;
    text-align: center;
  }
  .gridsystem .row .one{
    padding-top: 1rem;
  }
  .gridsystem .img-fluid{
    width: 500px;
  }

  /* Section4 */
  .s4{
    margin-top: 2em;
    margin-bottom: 3em;
    font-size: 3em;
  }
  .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .details-item{
    width: 100%;
    margin-bottom: 4rem;
  }
  .details-item p{
  text-align: center;
  font-size: 2rem;
  }
  .details-item .icon{
  margin-left: 16rem;
  font-size: 4rem;
  padding-bottom: 2rem;
  }
  .details span{
    display: none;
  }

  
/* Section5 */
.maps{
  display: flex;
  flex-direction: column;
}
.map-content{
  margin-top: -6rem;
  margin-left: 6rem;
}
.map-content h1,p{
  text-align: center;
  font-size:1em;
}
.btn2{
  margin-left: 2rem;
  margin-top: 1rem;
}
/* .location{
  position:relative ;
  top: 2.2rem;
  left: 1rem;
}
.glass{
  position: relative;
  top: 0.6rem;
  left: 4rem;
  font-size: 1rem;
} */
#map{
  display: none;
}
/* Apps */
.apps{
  display: flex;
  flex-direction: column;
  margin-left: 12rem;
}

/* Question */
.collapsed span{
  display: none;
  }
.colscon{
  margin-top: -10rem;
  margin-left: 12rem;
}
}


/* Desktops */
@media (min-width: 1366px) {
  /* Header */
  nav img {
    max-width: 200px;
    height: 80px;
  }

  .navbar-nav .nav-link a {
    width: auto;
  }

  .btn {
    width: 100px;
  }

  /* Section */
  .container {
    padding-top: 120px;
  }

  .left {
    padding-top: 150px;
    padding-left: 200px;
  }

  #imgs {
    width: 80%;
  }

  /* Caurosel */
  .btn-icon,
  .btn-icon {
    font-size: 10px;
  }

  /* Section3 */
  .gridsystem .row {
    padding-left: 250px;
  }
  .gridsystem .row .one{
    padding-top: 6rem;
  }

  /* Section4 */
  .s4{
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 3em;
  }
  .details{
    display: flex;
    flex-direction: row;
  }
  .details-item{
    width: 100%;
    margin-bottom: 4rem;
  }
  .details-item p{
  text-align: center;
  font-size: 1rem;
  }
  .details-item .icon{
  padding: 2rem;
  font-size: 3rem;
  padding-bottom: 2rem;
  }
}